  h1 { color : red ; text-alight: center ;}
  .tieude {
        color :Tomato ; 
        font-weight : bold ;
        font-size : 20pt ;
  }
  .noidung  { 
        color : black ; 
        font-style : normal ;
        font-size : 14pt ;
  }
